@import '../../../lib/font-awesome/scss/font-awesome';

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Z06-Walone';
    src: url('../fonts/Z06-Walone-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Z06-Walone';
    src: url('../fonts/Z06-Walone-Bold.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
}
